
body .landing-page {
    color: #676a6c;
    font-family: 'Opan Sans', helvetica, arial, sans-serif;

}

.text-center {
    text-align: center;
}

/* Index */
.landing-page .image-center {
    text-align: center;
}

.landing-page .program-languages h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.landing-page .program-languages p {
    color: #aeaeae;
    font-size: 13px;
}

.landing-page .framework {
    background-color: #f4f4f4;
}

.landing-page .framework h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.landing-page .framework p {
    color: #aeaeae;
    font-size: 13px;
}

.landing-page .cms h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.landing-page .cms p {
    color: #aeaeae;
    font-size: 13px;
}

/* Header */
.landing-page .navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar {
    padding-top: 0;
    background-color: inherit !important;
}

.bgNav {
    background-color: #fff !important;
    border-bottom: 1px solid #676a6c;
}

.navbar .navbar-nav > li.nav-item {
    padding-top: 15px;
}

.navbar-nav > li {
    border-top: 6px solid transparent;
}

.navbar-nav > li a {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #17a2b8;
}

.navbar-nav > li.active {
    border: none;
    background: inherit;
    border-top: 6px solid #17a2b8;
}

/* Footer */
.landing-page .footer{
    background-image: url('/static/images/jumbotron/background-world-map-1.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 60px;
}

.gray-section {
    background: #f4f4f4;
}

.landing-page .navy-line {
    width: 60px;
    height: 1px;
    margin: 60px auto 0;
    border-bottom: 2px solid #17a2b8;
}

.landing-page h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 200;
}

.landing-page footer p {
    color: #aeaeae;
    margin-bottom: 1rem;
}