{% extends "base.html" %}

{% block title %}
    Contact | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h1>Залишити повідомлення</h1>
            <form action="{% url 'mysite:contact' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id-email" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input id="id-email" class="form-control" type="email" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id-subject" class="col-2 col-form-label">Тема</label>
                    <div class="col-10">
                        <input id="id-subject" class="form-control" type="text" name="subject">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id-message" class="col-2 col-form-label">Сообщение</label>
                    <div class="col-10">
                        <textarea id="id-message" class="form-control" name="message" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary float-right">Отправить</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4 mx-auto">
            <h1>Контакты</h1>
            <div>
                <ul class="list-group list-group-flush">
                    {% for instance in social_icons %}
                        <li class="list-group-item">
                            <img src="{{ instance.icons.url }}" alt="{{ instance.name }}" width="30">
                            <a href="{{ instance.link }}" target="_blank">{{ instance.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}