{% extends "base.html" %}
{% load static %}
{% block title %}
    Home | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="jumbotron paral paralsec">
        <h1 class="display-3">Header</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto ea error maiores tenetur quasi, maxime totam accusamus illum suscipit, 
            minima excepturi voluptatem! Natus voluptatibus deleniti cum quo, 
            similique soluta hic?
        </p>
        <p class="lead">
            <a href="{% url 'blog:article-list' %}" class="btn btn-info btn-md btn-lg" role="button">Блог</a>
        </p>
    </div>
    <section class="container program-languages">
        <div class="row">
            <div class="col-lg-12  text-center">
                <div class="navy-line"></div>
                <h1>Языки программирования</h1>
            </div>
            <div class="col-md-4">
                <p class="image-center">
                    <img src="{% static 'images/index_language_image/machine-learning-python-1.png' %}" width=100 alt="python">
                </p>
                <h2>Python</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
            </div>
            <div class="col-md-4">
                <p class="image-center">
                    <img src="{% static 'images/index_language_image/PHP-Logo-PNG-Clipart.png' %}" width=100 alt="php">
                </p>
                <h2>PHP</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
            </div>
            <div class="col-md-4">
                <p class="image-center">
                    <img src="{% static 'images/index_language_image/javascript.png' %}" width=100 alt="javascript">
                </p>
                <h2>JavaScript</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
            </div>
        </div>
    </section>
    <section class="framework">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-md-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Framework</h1>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="image-center">
                            <img src="{% static 'images/index_framework/django.png' %}" width=100 alt="django">
                        </p>
                        <h2>Django</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
                    </div>
                    <div class="col-md-4">
                        <p class="image-center">
                            <img src="{% static 'images/index_framework/flask.png' %}" width=100 alt="flask">
                        </p>
                        <h2>Flask</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
                    </div>
                    <div class="col-md-4">
                        <p class="image-center">
                            <img src="{% static 'images/index_framework/jquery.png' %}" width=100 alt="jQuery">
                        </p>
                        <h2>jQuery</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ad velit corrupti consequatur officiis esse libero non a, voluptatibus, similique vitae molestiae saepe inventore quae. Id tempora facilis asperiores sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container cms">
        <div class="row">
            <div class="col-md-12  text-center">
                <div class="navy-line"></div>
                <h1>CMS</h1>
            </div>
            <div class="col-6 offset-3">
                <p class="image-center">
                    <img src="{% static 'images/index_cms/opencart.png' %}" width=100 alt="opencart">
                </p>
                <h2>opencart</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a reprehenderit odit corrupti earum magnam consequuntur voluptatem esse ullam! Magni nemo quasi commodi quaerat modi minima delectus aut, maiores odit.</p>
            </div>
        </div>
    </section>
{% endblock content %}