{% extends "base.html" %}
{% load static main_tags %}
{% block title %}
    {{ instance.name }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card mb-3">
                    <img class="card-img-top" src="{% static 'mysite/images/unopinion.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ instance.name }}</h5>
                        <p class="card-text">{{ instance.description|safe }}</p>
                        <p class="card-text">
                            {% if instance.skils %}
                                {% for skill in instance.skils|split:", " %}
                                    <span class="badge badge-success">
                                        {{ skill }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
            </div>
        </div>
    </div>
{% endblock content %}