{% extends "base.html" %}
{% load static %}
{% block title %}
    Portfolio | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container" style="margin-top:100px">
    <div class="card-deck">
        {% for portfolio in portfolio_all %}
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/unopinion.png' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{{ portfolio.get_absolute_url }}">
                        <h5 class="card-title">{{portfolio.name}}</h5>
                    </a>
                    <p class="card-text">{{ portfolio.description|safe|truncatechars:50 }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}