{% extends "base.html" %}

{% block title %}
    Thanks | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Thanks you!</h1>
            <p>I`ll get back to you as soon as I can!</p>
            <a href="{% url 'mysite:home' %}" class="btn btn-primary btn-block">Back to home page</a>
        </div>
    </div>
</div>
{% endblock content %}