{% extends "base.html" %}

{% block title %}
    {{ object.title }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <h1 center>{{ object.title }}</h1>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{{ object.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ object.description|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mx-auto"></div>
        </div>
    </div>
{% endblock content %}