{% extends "base.html" %}

{% block title %}
    Блог | {{ block.super }}
{% endblock title %}


{% block content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-8 mx-auto">
                {% for object in object_list %}
                    <div class="card" style="margin-bottom: 20px">
                    <img class="card-img-bottom" src="{{ object.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ object.get_absolute_url }}">{{ object.title }}<a></h5>
                            <p class="card-text">{{ object.description|safe|truncatechars:50 }}</p>
                            <p class="card-text"><small class="text-muted">{{ object.update }}</small></p>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info">
                        Еще нету постов
                    </div>
                {% endfor %}
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-4 mx-auto">
                    {% for tag in tags %}
                        <a href="#"><span class="badge badge-dark">{{ tag.name }}</span></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}