{% url 'mysite:home' as home %}
<footer class="gray-section footer">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-md-12 text-center">
            <div class="navy-line"></div>
            <h1>Связатся со мной</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores officiis ex molestiae, vitae ratione, delectus, dignissimos officia sapiente sequi praesentium ad est modi rem molestias atque! Dolorem nisi odio explicabo.</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'mysite:contact' %}" class="btn btn-info">Отправить письмо</a>
            <p class="m-t-sm">Или через социальние сети</p>
            <ul class="list-inline social-icon">
                {% for link in social_icons %}
                <li class="list-inline-item">
                    <a href="{{ link.link }}" target="_blank">
                        <img src="{{ link.icons.url }}" width=30 alt="{{ link.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center m-t-lg m-b-lg">
            <p>
                <strong>© 2019 Max Cage</strong>
                <br>
                Все права захищены
            </p>
        </div>
    </div>
</div>
</footer>