{% load static %}
{% url 'mysite:home' as home %}
{% url 'mysite:portfolio' as portfolio %}
{% url 'mysite:contact' as contact %}
{% url 'blog:article-list' as article_list %}
<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation"  id="nav-scroll">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ home }}">
                <img src="{% static 'mysite/images/python.png' %}" width="100" alt="brand">
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item {% if request.path == home %}active{% endif %}">
                        <a class="nav-link" href="{{ home }}">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.path == portfolio %}active{% endif %}">
                        <a class="nav-link" href="{{ portfolio }}">Портфолио</a>
                    </li>
                    <li class="nav-item {% if request.path == article_list %}active{% endif %}">
                        <a class="nav-link" href="{{ article_list }}">Блог</a>
                    </li>
                    <li class="nav-item {% if request.path == contact %}active{% endif %}">
                        <a class="nav-link" href="{{ contact }}">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>